
<div class="jumbotron">
  <h1>One bill. No confusion.</h1>
  <p>Streamline your communications with the ExtendaCloud internet-based telephone system.</p>
  Click here to <%= link_to "Learn More", contact_path, class: "btn btn-primary" %>
</div>

<div id="carousel-homepage" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-homepage" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-homepage" data-slide-to="1"></li>
    <li data-target="#carousel-homepage" data-slide-to="2"></li>
  </ol>
 
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag "zultys_zip_37g_md.jpg"%>
      <div class="carousel-caption">
        <h3>The 37g features dual Gigabit ports, full color display and 20 customizable one-touch-access feature keys</h3>
      </div>
    </div>
    <div class="item">
      <%= image_tag "zultys_zip_35i_md.jpg"%>
      <div class="carousel-caption">
        <h3>The 35i has a large, icon-based display and 6 programmable keys for easy-to-use communications</h3>
      </div>
    </div>
    <div class="item">
      <%= image_tag "zultys_zip_59i_md.jpg"%>
      <div class="carousel-caption">
        <h3>The 59i telephone features a color, touchscreen display, stylish appeal and wideband audio</h3>
      </div>
    </div>
  </div>
 
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-homepage" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-homepage" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div> <!-- Carousel -->

<div>
  <div class="col-md-6" id="cutphonecord_image">
    <%= image_tag "cutphonecord.jpg" %>
  </div>
  <div class="col-md-6">
    <h2>Cut out the phone company</h2>
    <p>Companies across Southern California are saying goodbye to telephone service providers like Verizon, AT&amp;T, TelePacific, Windstream and Time Warner Cable. Moving to a cloud-based telephone system means you can make unlimited calls throughout the United States. You can connect to your phone system anywhere with an internet connection. And you can even get a phone number from a different city.
    </p>
  </div>
</div>
<div>
  <div class="col-md-12">
    <h2>Cutting edge features, traditional customer service</h2>
    <p>Moving to the cloud means that you need a communications partner that knows what they are doing.
    </p>
  </div>
  <div class="col-md-6">
    <h3>Take control</h3>
    <p>If you have been using a traditional analog or digital business telephone system, get ready for a huge change: a phone system you know how to use. Simple feature access, intuitive telephone controls, and the power of your computer or smartphone to direct and control your calls. And that is not all - from video calling to secure instant messaging, ExtendaCloud is your real-time communications command center.</p>
  </div>
  <div class="col-md-6">
    <h3>Hire telecom experts</h3>
    <p><strong><%= link_to "Extenda Communications", "http://www.teamextenda.com"%></strong> has been serving Southern California since 1969. Our focus has always been on delivering high quality service to local businesses. With our ExtendaCloud product, we are committed to providing on-site installation, consultation and service, so that you get the results you are hoping for.</p>
  </div>
</div>

<div>
  <div class="col-md-12">
    <h2>Flexible Licenses for Any User</h2>
  </div>

  <div class="col-md-4">
    <div class="">
      <h2 class="">Basic</h2>
    </div>
    <div class="">
      <p>Includes:
        <ul>
          <li>Local telephone number</li>
          <li>Internal extension assignment</li>
          <li>Voice mail box</li>
          <li>Mobile phone &amp; tablet app</li>
          <li>Directory access</li>
          <li>Three party conference</li>
        </ul>
      </p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="">
      <h2 class="">Standard</h2>
    </div>
    <div class="">
      <p>Includes:
        <ul>
          <li>Local telephone number</li>
          <li>Internal extension assignment</li>
          <li>Voice mail box</li>
          <li>Mobile phone &amp; tablet app</li>
          <li>Directory access</li>
          <li>Desktop communications software</li>
          <li>Outlook Integration</li>
          <li>Desktop softphone</li>
          <li>Multi-party conference bridge</li>
          <li>Video calling and desktop sharing</li>
        </ul>
      </p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="">
      <h2 class="">Agent</h2>
    </div>
    <div class="">
      <p>Includes:
        <ul>
          <li>Local telephone number</li>
          <li>Internal extension assignment</li>
          <li>Voice mail box</li>
          <li>Mobile phone &amp; tablet app</li>
          <li>Directory access</li>
          <li>Desktop communications software</li>
          <li>Outlook Integration</li>
          <li>Desktop softphone</li>
          <li>Multi-party conference bridge</li>
          <li>Video calling and desktop sharing</li>
          <li>Full time call recording</li>
          <li>Inbound contact center calls</li>
          <li>Agent log in and out with wrap up timer</li>
          <li>Supervisor features</li>
        </ul>
      </p>
    </div>
  </div>
</div>

<div>
  <div class="col-md-12">
    <h2>Get smart with your smartphone</h2>
  </div>
</div>

<div>
  <div class="col-md-12">
    <h2>Your real time communications dashboard</h2>
  </div>
</div>